In [1]:
import pandas as pd

In [222]:
df = pd.read_csv('C:\\Users\\Matth\\Downloads\\CNAE.csv', sep=';', encoding='utf16')

In [158]:
df.head()

,cd_cnpj,nu_ordem,cd_ramo_atividade,de_ramo_atividade
0,12305448000100,0~@~1~@~2~@~3~@~4,1093701~@~4789099~@~7319003~@~8230001~@~9609202,AGENCIAS MATRIMONIAIS~@~COMERCIO VAREJISTA DE ...
1,14180365000150,0~@~1~@~2,4530706~@~4542101~@~4613300,REPRESENTANTES COMERCIAIS E AGENTES DO COMERCI...
2,5610297000120,0,4782201,COMERCIO VAREJISTA DE CALCADOS
3,15044857000180,0,9602502,ATIVIDADES DE ESTETICA E OUTROS SERVICOS DE CU...
4,15028623000140,0~@~1,4789099~@~9329899,COMERCIO VAREJISTA DE OUTROS PRODUTOS NAO ESPE...

In [223]:
df['nu_ordem'] = df['nu_ordem'].str.replace('~@~','\n') # Troca o separador
df['cd_ramo_atividade'] = df['cd_ramo_atividade'].str.replace('~@~','\n') # Troca o separador
df['de_ramo_atividade'] = df['de_ramo_atividade'].str.replace('~@~','\n') # Troca o separador

**View Dataset**

In [224]:
df.head()

,cd_cnpj,nu_ordem,cd_ramo_atividade,de_ramo_atividade
0,12305448000100,0\n1\n2\n3\n4,1093701\n4789099\n7319003\n8230001\n9609202,AGENCIAS MATRIMONIAIS\nCOMERCIO VAREJISTA DE O...
1,14180365000150,0\n1\n2,4530706\n4542101\n4613300,REPRESENTANTES COMERCIAIS E AGENTES DO COMERCI...
2,5610297000120,0,4782201,COMERCIO VAREJISTA DE CALCADOS
3,15044857000180,0,9602502,ATIVIDADES DE ESTETICA E OUTROS SERVICOS DE CU...
4,15028623000140,0\n1,4789099\n9329899,COMERCIO VAREJISTA DE OUTROS PRODUTOS NAO ESPE...

**Listas que vão receber os dados**

In [256]:
IdList, list1, list2, list3 = [], [], [], []

**Separando as linhas multivaloradas em uma lista**

In [258]:
for index, row in df.iterrows():
    if len(row['nu_ordem']) >1:
        for i in row['nu_ordem']:
            if i == '\n':
                pass
            else:
                list1.append(i)
                IdList.append(row['cd_cnpj'])
    else:
        list1.append(row['nu_ordem'])
        IdList.append(row['cd_cnpj'])
        
    for j in row['cd_ramo_atividade'].splitlines():
        list2.append(j)
        
    for l in row['de_ramo_atividade'].splitlines():
        list3.append(l)

**Validar o número de dados por Coluna**

In [255]:
print(f'1º IdList: {len(IdList)} | 2º List: {len(list1)} | 3º List: {len(list2)} | 4º List: {len(list3)}')

1º IdList: 15812 | 2º List: 15812 | 3º List: 15812 | 4º List: 15812

In [ ]:
'''for i in df['de_ramo_atividade'][1]:
    if i == '\n':
        print()
    else:
        print(i, end='')'''

**Juntando todas as listas em uma.**

In [273]:
AllList = [[IdList], [list1], [list2], [list3]]

**Criar o novo Dataframe com os Dados Já Separados**

In [287]:
df_1 = pd.DataFrame(list(zip(IdList, list1, list2, list3)), columns = ['cd_cnpj', 'nu_ordem', 'cd_ramo_atividade', 'de_ramo_atividade'])

**View DataFrame**

In [290]:
df_1

,cd_cnpj,nu_ordem,cd_ramo_atividade,de_ramo_atividade
0,12305448000100,0,1093701,AGENCIAS MATRIMONIAIS
1,12305448000100,1,4789099,COMERCIO VAREJISTA DE OUTROS PRODUTOS NAO ESPE...
2,12305448000100,2,7319003,FABRICACAO DE PRODUTOS DERIVADOS DO CACAU E DE...
3,12305448000100,3,8230001,MARKETING DIRETO
4,12305448000100,4,9609202,"SERVICOS DE ORGANIZACAO DE FEIRAS, CONGRESSOS,..."
...,...,...,...,...
15807,13257780000100,0,1622699,FABRICACAO DE OUTROS ARTIGOS DE CARPINTARIA PA...
15808,13103097000100,0,4520005,"SERVICOS DE LAVAGEM, LUBRIFICACAO E POLIMENTO ..."
15809,37628765000180,1,4742300,COMERCIO VAREJISTA DE FERRAGENS E FERRAMENTAS
15810,37628765000180,2,4744001,COMERCIO VAREJISTA DE MATERIAIS HIDRAULICOS
15811,37628765000180,3,4744003,COMERCIO VAREJISTA DE MATERIAL ELETRICO

**Coloca o Novo DataFrame em um arquivo CSV.**

In [292]:
df_1.to_csv('C:\\Users\\Matth\\Downloads\\CNAE_CLEAN.csv', sep=';', encoding='utf8', index=False)

## Segundo Test

In [44]:
df = pd.read_csv('C:\\Users\\Matth\\Downloads\\CNAE_CLEAN.csv', sep=';', encoding='utf8')

In [45]:
df.head()

,cd_cnpj,nu_ordem,cd_ramo_atividade,de_ramo_atividade
0,12305448000100,0,1093701,AGENCIAS MATRIMONIAIS
1,12305448000100,1,4789099,COMERCIO VAREJISTA DE OUTROS PRODUTOS NAO ESPE...
2,12305448000100,2,7319003,FABRICACAO DE PRODUTOS DERIVADOS DO CACAU E DE...
3,12305448000100,3,8230001,MARKETING DIRETO
4,12305448000100,4,9609202,"SERVICOS DE ORGANIZACAO DE FEIRAS, CONGRESSOS,..."

In [7]:
df.sort_values(by='cd_ramo_atividade')

,cd_cnpj,nu_ordem,cd_ramo_atividade,de_ramo_atividade
13989,8339554000120,0,111301,CRIACAO DE BOVINOS PARA CORTE
14449,8550792000180,0,111301,CULTIVO DE ARROZ
10463,9462147000410,0,111301,CULTIVO DE ALGODAO HERBACEO
15633,8550380000140,0,111301,CULTIVO DE ARROZ
8682,8994459000160,0,111302,CRIACAO DE BOVINOS PARA CORTE
...,...,...,...,...
13406,12900275000160,0,9609299,OUTRAS ATIVIDADES DE SERVICOS PESSOAIS NAO ESP...
14534,14617605000130,4,9609299,TRANSPORTE RODOVIARIO DE MUDANCAS
11447,15293000180,4,9609299,"SERVICOS COMBINADOS PARA APOIO A EDIFICIOS, EX..."
15434,12354371000150,0,9609299,OUTRAS ATIVIDADES DE SERVICOS PESSOAIS NAO ESP...
5634,3973950000190,0,9900800,ORGANISMOS INTERNACIONAIS E OUTRAS INSTITUICOE...

In [43]:
AuxList = []
for i in df['cd_ramo_atividade']:
    if len(str(i)) > 6:
        a = str(i)
        AuxList.append(a[0:2])
    else:
        a = str(i)
        AuxList.append(a[0])

In [46]:
len(AuxList)

15812

In [47]:
df['NumRamo'] = AuxList

In [50]:
df.to_csv('C:\\Neoway\\teste_bi-master\\teste_bi-master\\files\\spreadsheets\\CNAE_CLEAN.csv', sep=';', encoding='utf8', index=False)